/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff0070;
  --main-bg-color: #000028;
  --bg-image: url('../images/cover-image-dark.png');
  --main-text-color: #f1b2ce;
  --main-heading-color: #000028;
  --nav-color: #ff0070;
  --nav-hover-color: rgb(255 0 112 / 0.4);
  --section-heading-color: #ff0070;
  --header-logo-color: #db00ff;
  --footer-logo-color: #db00ff;
}

.theme-dark .header__rec {
  display: block;  
}
