/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000028;
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: relative;
}

.header__rec {
  position: absolute;
  justify-self: end;
  font-family: var(--main-font-family);
  color: var(--accent-color);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  font-weight: 400;
  padding-inline-end: 15px;
  padding-block-start: 10px;
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 11px;
  margin-right: 4px;
  border-radius: 100%;
  background-color: var(--section-heading-color);
  box-shadow: 0 0 4px 2px var(--section-heading-color);
}


.decorated-zone::before,
.decorated-zone::after {
  position: absolute;
  content: "";
  display: block;
  width: 25px;
  height: 25px;
}

.decorated-zone::after {
  align-self: end;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  margin-inline-start: 10px;
  margin-block-end: 10px;
}

.decorated-zone::before {
  justify-self: end;
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
  margin-block-start: 10px;
  margin-inline-end: 10px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;  

  @media (width >= 1024px) {
    justify-self: center;
    align-self: flex-start;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11px;

  @media (width >= 1024px) {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  font-family: var(--main-font-family);
  color: var(--nav-color);
  font-size: var(--main-text-size);
  font-weight: 400;
  text-transform: lowercase;
  background-color: transparent;
  border: 1px solid transparent;
  min-width: 70px;
  min-height: 26px;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  outline: 1px solid var(--nav-hover-color);
}

.header__theme-menu-button:focus {
 outline: none;
}

.header__theme-menu-button:focus-visible {
 border-bottom: 1px solid var(--nav-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--nav-color);
}

.header__title {
  font-family: var(--main-font-family);
  color: var(--header-logo-color);
  font-size: var(--header-logo-size);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
  padding-block-start: 13px;
}

.header__subtitle {
  font-family: var(--main-font-family);
  font-weight: 700;
  color: var(--main-heading-color);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  block-size: min-content;
  align-self: center;

  @media (width >= 768px) {
    justify-self: end;
    width: 364px;
  }

  @media (width >= 1024px) {
    
    width: 491px;
  }
}

.title-decor {
  font-family: var(--main-font-family);
  font-size: var(--main-text-size);
  background-color: var(--accent-color);
  color: var(--main-heading-color);
  margin-bottom: 10px;
}

.content__section {
  font-size: var(--main-text-size);
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;  

  @media (width >= 768px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  @media (width >= 1024px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
}

.text__blocks {
  @media (width >= 1024px) {
    grid-column: span 2;
    gap: 20px;
  }
}

.text__block:not(:last-child) {
  display: grid;
  grid-template-rows: min-content 1fr;
  margin-block-end: 20px;
}

.content__section-title {
  color: var(--section-heading-color);
  margin-bottom: 20px;
  font-size: var(--main-text-size);
  font-family: var(--main-font-family);
}

.text__block-subtitle {
  font-weight: 400;
}

.title-margin-bottom {
  margin-bottom: 20px;
}

.text__block-text {
  font-family: var(--main-font-family);
  color: var(--main-text-color);
  font-weight: 400;
}

.content {
  display: grid;
  gap: 50px;
  padding: 40px 10px 40px;

  @media (width >= 768px) {
    gap: 80px;
  }

  @media (width >= 1024px) {
    gap: 80px;
  }
}

.causes {
  .content__section-title {
    grid-column: 1 / -1;
    max-width: 236px;
  }

  .text__blocks {
    grid-column: 1 / -1;

    @media (width >= 1024px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
}

.text__link {
  color: var(--main-text-color);
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.text__link:hover {
  text-decoration: underline;  
}

.text__link:focus {
  outline: none;
}

.text__link:focus-visible {
  outline: 1px solid var(--main-text-color);
  outline-offset: -1px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

  @media (width >= 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }
}

.gallery-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .item-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .item-2 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .item-3 {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .item-5 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}


.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr;
}

.footer__title {
  font-family: var(--main-font-family);
  color: var(--footer-logo-color);
  font-size: var(--footer-logo-size);
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
  justify-self: center;
  align-self: center;
}