/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000028;
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: relative;
}

.header__rec {
  position: absolute;
  justify-self: end;
  font-family: var(--main-font-family);
  color: var(--accent-color);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  font-weight: 400;
  padding-inline-end: 15px;
  padding-block-start: 10px;
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 11px;
  margin-right: 4px;
  border-radius: 100%;
  background-color: var(--section-heading-color);
  box-shadow: 0 0 4px 2px var(--section-heading-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  padding-inline-end: 8px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
}

.header__theme-menu-button {
  font-family: var(--main-font-family);
  color: var(--accent-color);
  font-size: var(--main-text-size);
  font-weight: 400;
  text-transform: lowercase;
  background-color: transparent;
  border: none;
}

.header__title {
  font-family: var(--main-font-family);
  color: var(--header-logo-color);
  font-size: var(--header-logo-size);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  font-family: var(--main-font-family);
  font-weight: 700;
  color: var(--main-heading-color);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  block-size: min-content;
  align-self: center;
}

.title-decor {
  background-color: var(--accent-color);
}

.content__section {
  font-size: var(--main-text-size);
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;

  @media (width >= 768px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  @media (width >= 1024px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
}

.text__blocks {
  @media (width >= 1024px) {
    grid-column: span 2;
    gap: 20px;
  }
}

.text__block {
  display: grid;
  grid-template-rows: min-content 1fr;
}

.content__section-title {
  color: var(--accent-color);
  margin-bottom: 20px;
  font-size: var(--main-text-size);
}

.text__block-title,
.text__block-subtitle {
  font-size: var(--main-text-size);
  background-color: var(--accent-color);
  color: var(--main-bg-color);
  margin-bottom: 10px;
}

.text__block-subtitle {
  font-weight: 400;
}

.text__block-text {
  color: var(--main-text-color);
  font-weight: 400;
}

.content {
  display: grid;
  gap: 50px;
}

.causes {
  .content__section-title {
    grid-column: 1 / -1;
    max-width: 236px;
  }

  .text__blocks {
    grid-column: 1 / -1;
    
    @media (width >= 1024px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
}
